.explore-searchPadding {
  padding: 10px;
  box-sizing: border-box;
}
.explore-sidebarMargin {
  margin: 13px 0 60px 0;
}
.explore-button-minWidth {
  min-width: 85px;
}
.explore-dropdown {
  max-height: 250px;
  width: 120px;
  position: absolute;
  top: 42px;
  left: -1px;
  z-index: 2;
  box-sizing: border-box;
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
  overflow-x: hidden;
  overflow-y: auto;
}
.explore-dropdownButton {
  height: 33px;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: 500;
  padding: 0 10px !important;
  background-color: white !important;
  text-align: left;
  z-index: 1;
}