.home-buttons {
  height: 60px;
}

.home-button {
  box-sizing: border-box;
  padding: 4px 10px;
}

.home-buttonSelected {
  background-color: var(--black);
  border-radius: 3px;
  color: white;
}
.home-buttonSelected:hover {
  color: white;
}