.search-buttonPadding {
  padding: 5px 7px;
}
.search-spacer {
  height: 30px;
  width: 100%;
}
.search-spacerBig {
  height: 110px;
  width: 100%;
}

/* FILTERS Styles */
/* .rc-slider-rail {
  background-color: var(--mediumgray) !important;
} */
.rc-slider-track {
  background-color: #050f2335 !important;
}
.rc-slider-handle {
  border: solid 2px var(--mediumgray) !important;
}
.rc-slider-handle:focus {
  border-color: var(--black) !important;
  box-shadow: 0 0 0 5px transparent !important;
}
.rc-slider-handle-click-focused:focus {
  border-color: var(--mediumgray) !important;
}
.rc-slider-handle:hover {
  border-color: var(--black) !important;
}
.rc-slider-handle:active {
  border-color: var(--black) !important;
  box-shadow: 0 0 5px var(--black) !important;
}
.rc-slider-dot-active {
  border-color: var(--black) !important;
}

/* Styles */
.e-alignText {
  text-align: left;
  box-sizing: border-box;
}
.e-dropdown-left {
  width: calc(100% + 40px);
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 2;
  box-sizing: border-box;
  border: 1px solid var(--border);
  border-radius: 5px;
  margin: 0 -20px;
  overflow: hidden;
}
.e-dropdownHeight {
  max-height: 220px;
  overflow: auto;
}
.e-dropdown-button {
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 500;
  padding: 15px 20px;
  background-color: white;
}